.btn {
  background-color: var(--correctGreen);
  color: var(--textColor);
  border: 0;
  border-radius: 0.35rem;
  padding: 0.8vh 1.75vh 0.9vh;
  font-weight: bold;
  font-size: 1.95vh;
  transition: all 200ms ease;
  opacity: 1;
}
.btn:hover {
  background-color: rgb(42, 226, 42);
  color: var(--textColor);
  transition: all 200ms ease;
  cursor: pointer;
}
.btn[disabled] {
  opacity: 0;
}
.btn[disabled]:hover {
  cursor: default;
}
