.guess {
  display: flex;
  font-size: 1rem;
  column-gap: 0.275rem;
  margin: 0 0 0.275rem;
  max-width: max-content;
}
.guess span {
  display: grid;
  aspect-ratio: 1 / 1;
  border-radius: 0.275rem;
  font-size: 5vh;
  min-height: 10vh;
  place-items: center;
  text-transform: uppercase;
  background-color: var(--fillGrey);
  transition: all 0.1s ease-in;
  border: 0;
}
.guess .includes {
  background-color: rgb(210, 210, 20);
}
.guess .exact {
  background-color: var(--correctGreen);
}
.win .exact {
  transform: scale(1);
  animation: pulse 2.75s infinite ease-in-out;
}
.new-guess span {
  display: grid;
  border-radius: 0.25rem;
  place-items: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1.5px solid var(--borderEmptyGrey);
}
.active span {
  border: 1.5px solid var(--borderGrey);
}
.active > span:empty {
  background-color: rgba(205, 205, 205, 0.075);
  border-bottom-color: rgb(240, 240, 240);
  border-bottom-width: 3.5px;
  transition: all 0.1s ease-in;
  animation-name: active-bg;
  animation-duration: 3.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.done .active > span:empty,
.active span:empty ~ span:empty {
  background-color: transparent;
  border-color: var(--borderGrey);
  border-bottom-width: 1.5px;
  transition: all 0.1s ease-in;
  animation-name: none;
}

@keyframes active-bg {
  0% {
    background-color: rgba(205, 205, 205, 0.005);
  }
  50% {
    background-color: rgba(205, 205, 205, 0.33);
  }
  100% {
    background-color: rgba(205, 205, 205, 0.005);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 200, 33, 0.85);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 7px rgba(33, 200, 33, 0);
    border-radius: 10%;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(33, 200, 33, 0);
  }
}
@media screen and (max-width: 600px) {
  .guess span {
    font-size: 9vw;
    min-height: 15vw;
  }
}
@media screen and (max-width: 350px) {
  .guess span {
    font-size: 10vw;
  }
}
