:root {
  --bgColor: rgb(31, 31, 31);
  --bgColorDarker: rgb(26, 26, 26);
  --textColor: rgb(238, 238, 238);
  --textGrey: rgb(132, 132, 132);
  --borderGrey: rgba(215, 215, 215, 0.7);
  --borderEmptyGrey: rgba(133, 133, 133, 0.5);
  --fillGrey: rgba(170, 170, 170, 0.8);
  --correctGreen: rgb(33, 200, 33);
  --bg-image: url('./assets/bg.avif');
}
html,
body {
  margin: 0;
  padding: 0;
}
html * {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body {
  color: var(--textColor);
  background: rgb(60, 60, 60);
}
