:root {
  --bgColor: rgb(31, 31, 31);
  --bgColorDarker: rgb(26, 26, 26);
  --textColor: rgb(238, 238, 238);
  --textGrey: rgb(132, 132, 132);
  --borderGrey: rgba(235, 235, 235, 1);
  --borderEmptyGrey: rgba(235, 235, 235, 0.5);
  --fillGrey: rgba(170, 170, 170, 0.8);
  --correctGreen: rgb(33, 200, 33);
}

html,
body {
  margin: 0;
  padding: 0;
}
html * {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body {
  color: var(--textColor);
  background: rgb(215, 75, 75);
  background: radial-gradient(
    circle,
    rgba(209, 79, 79, 0.95) 0%,
    rgba(211, 117, 80, 0.95) 30%,
    rgba(72, 118, 179, 0.95) 95%,
    rgba(118, 118, 148, 0.95) 100%
  );
}

.game {
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.game-area {
  margin: 3rem 0 0;
  padding: 2vh 1rem 3vh;
  width: 100%;
  max-width: max-content;
}
.done .guess {
  opacity: 0.65;
}
.done .win {
  opacity: 1;
}
.extras {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
@media screen and (max-width: 600px) {
  .game {
    max-width: 95vw;
  }
  .game-area {
    padding: 2vh 0;
  }
}
