:root {
  --primary: rgb(204, 34, 22);
  --primaryHover: rgb(233, 68, 56);
  --bgColor: rgb(31, 31, 31);
  --bgColorDarker: rgb(26, 26, 26);
  --textColor: rgb(238, 238, 238);
  --textGrey: rgb(132, 132, 132);
  --borderGrey: rgb(225, 225, 225);
  --fillGrey: rgb(145, 145, 145);
  --correctGreen: rgb(33, 200, 33);
}

html,
body {
  margin: 0;
  padding: 0;
}
html * {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

.game {
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.game-area {
  margin: 3rem 0 0;
  padding: 2vh 1rem 3vh;
  width: 100%;
  max-width: max-content;
}
.confetti {
  width: 100%;
}
.confetti > div {
  margin: 0 auto;
}
.done .guess {
  opacity: 0.65;
}
.done .win {
  opacity: 1;
}
.extras {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.extras button {
  background-color: var(--correctGreen);
  color: var(--textColor);
  border: 0;
  border-radius: 0.35rem;
  letter-spacing: 0.05vh;
  padding: 1.1vh 1.6vh;
  font-weight: bold;
  font-size: 2vh;
  transition: all 200ms ease;
  opacity: 1;
}
.extras button:hover {
  background-color: rgb(42, 226, 42);
  color: var(--textColor);
  transition: all 200ms ease;
  cursor: pointer;
}
.extras button[disabled] {
  opacity: 0;
}
.extras button[disabled]:hover {
  background-color: var(--borderGrey);
  cursor: default;
}
