:root {
  --primary: rgb(204, 34, 22);
  --primaryHover: rgb(233, 68, 56);
  --bgColor: rgb(31, 31, 31);
  --bgColorDarker: rgb(26, 26, 26);
  --textColor: rgb(238, 238, 238);
  --textGrey: rgb(132, 132, 132);
  --borderGrey: rgb(175, 175, 175);
}

html,
body {
  margin: 0;
  padding: 0;
}
html * {
  box-sizing: border-box;
}
body {
  background-color: var(--bgColor);
  color: var(--textColor);
}

.game {
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
}

.game-container {
  display: grid;
  height: 100vh;
}
.game-area {
  margin: auto 0 1rem;
}
.done {
  opacity: 0.8;
}
.guess {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 5rem));
  font-size: 3rem;
  gap: 0.75rem;
  margin: 0 0 0.75rem;
  justify-content: center;
}
.guess span {
  display: grid;
  aspect-ratio: 1 / 1;
  border-radius: 0.25rem;
  min-height: 5rem;
  place-items: center;
  text-transform: uppercase;
  background-color: var(--borderGrey);
  border: 0;
}
.guess .includes {
  background-color: rgb(200, 200, 20);
}
.guess .exact {
  background-color: rgb(33, 200, 33);
}
.new-guess span {
  display: grid;
  border-radius: 0.25rem;
  place-items: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--borderGrey);
}
.active > span:empty {
  background-color: rgb(50, 50, 50);
  border-color: rgb(65, 65, 65);
  border-bottom-color: rgb(100, 100, 100);
  transition: all 0.3s linear;
}
.done .active > span:empty,
.active span:empty ~ span:empty {
  background-color: transparent;
  border-color: var(--borderGrey);
  transition: all 0.3s linear;
}

.extras {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.extras button {
  background-color: var(--borderGrey);
  border: 0;
  border-radius: 0.35rem;
  padding: 0.65rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 200ms ease;
}
.extras button:hover {
  background-color: var(--textColor);
  transition: background-color 200ms ease;
  cursor: pointer;
}
.extras button[disabled]:hover {
  background-color: var(--borderGrey);
  cursor: default;
}
