.background {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #1f1f1f, #1f1f1f);
  display: flex;
  flex-grow: 1;
  z-index: -1;
}

.background div {
  position: absolute;
  border-radius: 100%;
  height: 0;
  filter: blur(240vw);
  opacity: 0.5;
}

.background div:nth-child(1) {
  background: linear-gradient(132deg, #2ef1e4 0%, #40b8f8 100%);
  width: 30%;
  padding-top: 30%;
  left: 44%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
  background: linear-gradient(132deg, #5d58f5 0%, #f11df1 100%);
  width: 40%;
  padding-top: 40%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
  background: linear-gradient(132deg, #20e444 0%, #1e97ed 100%);
  width: 30%;
  padding-top: 30%;
  left: 80%;
  top: 80%;
  transform: translateX(-50%) translateY(-50%);
}
